/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea
{
    color: #222;
}

body
{
    font-family: 'Merriweather', serif;
    font-size: 1.3em;
    line-height: 1.9;
    width: 760px;
    margin: 0 auto;
}

h1, h2, h3, h4
{ font-family: 'Open Sans', sans-serif; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection
{
    background: #b3d4fc;
    text-shadow: none;
}

::selection
{
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    /*width: ;*/
    margin-left: 3em;
    margin-right: 3em;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img
{
    vertical-align: middle;
    margin: 20px;
}

/*
 * Remove default fieldset styles.
 */

fieldset
{
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea
{
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe
{
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.left {float: left;}
.right {float: right;}

.centered {text-align: center; }

/* mrmrs.io/links */
a {
  transition: color .3s;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -o-transition: color .3s;
  color: #265C83;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .3s;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -o-transition: color .3s;
  color: #007BE6;
}

a { text-decoration: none; }

/* ==========================================================================
   My own things
   ========================================================================== */
body
{
    background: url('http://www.placecage.com/2000/240') no-repeat center top;
    padding-top: 240px
}

.sans
{
    font-family: 'Open Sans', sans-serif;
}

#nav
{
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}
