/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea
{
    color: #222;
}

body
{
    font-family: 'Merriweather', serif;
    font-size: 1.3em;
    line-height: 1.9;
    width: 100%;
    margin: 0 auto;
}

h1, h2, h3, h4
{ font-family: 'Open Sans', sans-serif; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection
{
    background: #b3d4fc;
    text-shadow: none;
}

::selection
{
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    /*width: ;*/
    margin-left: 3em;
    margin-right: 3em;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img
{
    vertical-align: middle;
    margin: 20px;
    image-orientation: from-image;
}

/*
 * Remove default fieldset styles.
 */

fieldset
{
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea
{
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe
{
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.left {float: left;}
.right {float: right;}

.centered {text-align: center; }

/* mrmrs.io/links */
a {
  transition: color .3s;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -o-transition: color .3s;
  color: #265C83;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .3s;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -o-transition: color .3s;
  color: #007BE6;
}

a { text-decoration: none; }

/* ==========================================================================
   My own things
   ========================================================================== */
#wrapper
{
    width: 760px;
    margin: 0 auto;
}

#nav
{
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#active-nav
{
    color: #265C83;
    text-decoration: underline;
}

#banner
{
    margin: 0;
    width: 100%;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.3em; }

.card-holder
{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.person-card { }

.person-card img
{
    margin-left: 0;
    width: 200px;
    float: left;
}

.person-card a
{
    font-weight: bold;
}

.smalltext { font-size: .8em; }

.captioned
{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: .8em;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.captioned img
{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.floatright
{
    display: inline-block;
    width: 50%;
    float: right;
}

.floatright img
{
    padding-left: 20px;
}

.floatright p
{
    padding-left: 20px;
}

/* ==========================================================================
   Quick fixes
   ========================================================================== */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
